# bamTools: Simple tools to efficiently parse bam files
[![Build Status](https://travis-ci.org/sherrillmix/bedCount.svg?branch=master)](https://travis-ci.org/sherrillmix/bedCount)
[![codecov.io](https://codecov.io/github/sherrillmix/bedCount/coverage.svg?branch=master)](https://codecov.io/github/sherrillmix/bedCount?branch=master)

## Introduction
Tools to analyze bam files.

## Installation
To install, [download the repository](https://github.com/sherrillmix/bedCount/archive/master.zip) (or git clone) and run make in the resulting directory:

```
wget https://github.com/sherrillmix/bedCount/archive/master.zip
unzip master.zip
cd bedCount-master
make
```

## Usage
### bedCount
```
##BEDCOUNT_USAGEHERE##
```

### bam2depth
```
##BAM2DEPTH_USAGEHERE##
```


